<section class="price padding-section">
  <div class="container">
    <h2 class="title-section price__title-section">Наши цены</h2>
    <span class="title price__title">Наши следующие туры</span>
    <ul class="price-list list-reset">
      <li class="price-item">
        <div class="price-item__image">
          <img src="./img/tour-1.jpg" alt="" />
        </div>
        <h3 class="price-item__title">Семь чудес приэльбрусья</h3>
        <ul class="grade-benefits list-reset">
          <li class="grade-benefits__item grade-benefits__item--on">
            <span class="grade-benefits__icon"></span>
            Фототур
          </li>
          <li class="grade-benefits__item grade-benefits__item--on">
            <span class="grade-benefits__icon"></span>
            Трекинг
          </li>
          <li class="grade-benefits__item grade-benefits__item--off">
            <span class="grade-benefits__icon"></span>
            Автотур
          </li>
          <li class="grade-benefits__item grade-benefits__item--off">
            <span class="grade-benefits__icon"></span>
            С проживанием в гостинице
          </li>
          <li class="grade-benefits__item grade-benefits__item--off">
            <span class="grade-benefits__icon"></span>
            С проживанием в палатке
          </li>
        </ul>
        <div class="price-item__price">$300 <span>/Неделя</span></div>
        <button class="btn-item price-item__button btn-reset">Choose</button>
      </li>
      <li class="price-item">
        <div class="price-item__image">
          <img src="./img/tour-2.jpg" alt="" />
        </div>
        <div class="price-item__content">
          <h3 class="price-item__title">Сквозь чёртовы ворота</h3>
          <ul class="grade-benefits list-reset">
            <li class="grade-benefits__item grade-benefits__item--on">
              <span class="grade-benefits__icon"></span>
              Фототур
            </li>
            <li class="grade-benefits__item grade-benefits__item--on">
              <span class="grade-benefits__icon"></span>
              Трекинг
            </li>
            <li class="grade-benefits__item grade-benefits__item--on">
              <span class="grade-benefits__icon"></span>
              Автотур
            </li>
            <li class="grade-benefits__item grade-benefits__item--off">
              <span class="grade-benefits__icon"></span>
              С проживанием в гостинице
            </li>
            <li class="grade-benefits__item grade-benefits__item--off">
              <span class="grade-benefits__icon"></span>
              С проживанием в палатке
            </li>
          </ul>
          <div class="price-item__price">$200 <span>/3 дня</span></div>
          <button class="btn-item price-item__button btn-reset">Choose</button>
        </div>
      </li>
      <li class="price-item">
        <div class="price-item__image">
          <img src="./img/tour-3.jpg" alt="" />
        </div>
        <div class="price-item__content">
          <h3 class="price-item__title">Голубые просторы судака</h3>
          <ul class="grade-benefits list-reset">
            <li class="grade-benefits__item grade-benefits__item--on">
              <span class="grade-benefits__icon"></span>
              Фототур
            </li>
            <li class="grade-benefits__item grade-benefits__item--on">
              <span class="grade-benefits__icon"></span>
              Трекинг
            </li>
            <li class="grade-benefits__item grade-benefits__item--on">
              <span class="grade-benefits__icon"></span>
              Автотур
            </li>
            <li class="grade-benefits__item grade-benefits__item--on">
              <span class="grade-benefits__icon"></span>
              С проживанием в гостинице
            </li>
            <li class="grade-benefits__item grade-benefits__item--off">
              <span class="grade-benefits__icon"></span>
              С проживанием в палатке
            </li>
          </ul>
          <div class="price-item__price">$250 <span>/5 Дней</span></div>
          <button class="btn-item price-item__button btn-reset">Choose</button>
        </div>
      </li>
    </ul>
  </div>
</section>
