<section class="hero">
  <div class="hero__left">
    <h1 class="hero__title">Исследуйте горы вместе с&nbsp;нами</h1>
    <p class="hero__descr">
      Трекинг&nbsp;&mdash; экстремальный вид отдыха, который определённо стоит
      вашего внимания. Нетронутая дикая природа, чистейший горный воздух
      и&nbsp;захватывающие виды&nbsp;&mdash; всё это ждёт вас на&nbsp;вершинах
      горных хребтов.
    </p>
    <button class="btn hero__btn btn-reset">Присоединяйся</button>
  </div>
  <div class="hero__right">
    <div class="swiper hero-swiper">
      <ul class="swiper-wrapper hero__swiper-wrapper list-reset">
        <li class="swiper-slide hero__swiper-slide">
          <div class="hero-swiper__img">
            <img
              src="./img/hero_swiper_img_1.jpg"
              alt="Лыжный поход в Хибины"
            />
          </div>
          <span class="hero-swiper__title">Лыжный поход в Хибины</span>
        </li>
        <li class="swiper-slide hero__swiper-slide">
          <div class="hero-swiper__img">
            <img src="./img/hero_swiper_img_2.jpg" alt="Большой Иремель" />
          </div>
          <span class="hero-swiper__title">Большой Иремель</span>
        </li>
        <li class="swiper-slide hero__swiper-slide">
          <div class="hero-swiper__img">
            <img src="./img/hero_swiper_img_3.jpg" alt="Горы Кавказа" />
          </div>
          <span class="hero-swiper__title">Горы Кавказа</span>
        </li>
        <li class="swiper-slide hero__swiper-slide">
          <div class="hero-swiper__img">
            <img src="./img/hero_swiper_img_4.jpg" alt="Дагестан. Страна гор" />
          </div>
          <span class="hero-swiper__title">Дагестан. Страна гор</span>
        </li>
        <li class="swiper-slide hero__swiper-slide">
          <div class="hero-swiper__img">
            <img src="./img/hero_swiper_img_5.jpg" alt="Уральские выходные" />
          </div>
          <span class="hero-swiper__title">Уральские выходные</span>
        </li>
      </ul>
    </div>
    <div class="swiper-controls-button">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
