<section id="promo" class="promo padding-section">
  <div class="container">
    <h2 class="title-section promo__title-section">Наше промо</h2>
    <span class="title promo__title"
      >Вызов &laquo;Эльбрус 24&nbsp;часа&raquo;</span
    >
    <div class="promo__video">
      <video
        src="./resources/promo.mp4"
        poster="./img/promo-poster.jpg"
        muted
        preload="metadata"
        playsinline
      ></video>
      <button class="btn-reset promo__play" aria-label="Play video">
        <div class="promo__play-img">
          <svg
            width="44"
            height="50"
            viewBox="0 0 44 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M41.7759 28.8701L6.78117 49.3783C3.81131 51.117 0 49.0117 0 45.5067V4.49019C0 0.990683 3.80581 -1.12013 6.78117 0.624068L41.7759 21.1323C42.4515 21.5218 43.0131 22.0849 43.4037 22.7643C43.7943 23.4438 44 24.2155 44 25.0012C44 25.7869 43.7943 26.5586 43.4037 27.2381C43.0131 27.9175 42.4515 28.4806 41.7759 28.8701V28.8701Z"
            />
          </svg>
        </div>
      </button>
    </div>
  </div>
</section>
