:root {
  // Color
  --color-light: #fff;
  --color-dark: #000;
	--color-accent: #4AB45E;
  --color-title: #14183E;
  --color-secondary: #F5F5F5;
  --color-hero-bg: #23373a;

  // Padding
  --padding-container: 15px;
  // --padding-section: 75px;
  --padding-section: 4.6875em;


  // Offset
  --offset-page: 1280px;
  --offset-header: 0px;
}
