.team {
  &__title {
    margin-bottom: 22px;
    text-align: center;
  }
}

.team-list {
  width: 100%;
  width: 100%;
}

.team-item {
  padding: 1.25em;
  background: rgba(93, 93, 93, 0.06);
  border-radius: 0.9375em;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 292px;
    margin-bottom: 1.25em;
    border-radius: 0.5625em;
    overflow: hidden;
  }
  &__img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__name {
    // font-family: 'PoppinsMy';
    font-weight: 600;
    font-size: 1.375em;
    line-height: 2em;
    color: #333333;
    text-transform: uppercase;
  }
  &__position {
    // font-family: 'PoppinsMy';
    font-weight: 500;
    line-height: 2em;
    color: var(--color-accent);
    text-transform:capitalize;
  }
}

.swiper-team {
  max-width: 924px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.team-item.swiper-slide {
  max-width: 100%;
  // max-width: 288px;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .team-item.swiper-slide {
    max-width: 288px;
  }
}

@media (min-width: 577px) {
  .team-item.swiper-slide {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .team-item.swiper-slide {
    max-width: 288px;
  }
}
@media (min-width: 949px) {
  .team__swiper-btn.swiper-button-prev,
  .team__swiper-btn.swiper-button-next {
    display: none;
  }
}

