<section class="team padding-section">
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <div class="swiper swiper-team">
      <ul class="swiper-wrapper team-list list-reset">
        <li class="swiper-slide team-item">
          <div class="team-item__img">
            <img src="./img/team-1.jpg" alt="" />
          </div>
          <div class="team-item__name">Паша</div>
          <div class="team-item__position">Руководство горного лидера</div>
        </li>
        <li class="swiper-slide team-item">
          <div class="team-item__img">
            <img src="./img/team-2.jpg" alt="" />
          </div>
          <div class="team-item__name">Катя</div>
          <div class="team-item__position">Руководитель</div>
        </li>
        <li class="swiper-slide team-item">
          <div class="team-item__img">
            <img src="./img/team-3.jpg" alt="" />
          </div>
          <div class="team-item__name">Юра</div>
          <div class="team-item__position">Помощник</div>
        </li>
      </ul>
      <div class="team__swiper-btn swiper-button-prev"></div>
      <div class="team__swiper-btn swiper-button-next"></div>
    </div>
  </div>
</section>
