<section id="category" class="category padding-section">
  <div class="container">
    <h2 class="title-section category__title-section">Категория</h2>
    <sapn class="title category__title">Мы предлагаем лучшие услуги</sapn>
    <ul class="category-list list-reset">
      <li class="category-item">
        <div class="category-item__img">
          <img src="./img/category-guide.png" alt="" />
        </div>
        <h3 class="category-item__title">Горный гид</h3>
        <p class="category-item__descr">Опытный горный гид-лидер</p>
      </li>
      <li class="category-list__item category-item">
        <div class="category-item__img">
          <img src="./img/category-offer.png" alt="" />
        </div>
        <h3 class="category-item__title">Лучшее предложение</h3>
        <p class="category-item__descr">Закуски и вода</p>
      </li>
      <li class="category-list__item category-item">
        <div class="category-item__img">
          <img src="./img/category-guidance.png" alt="" />
        </div>
        <h3 class="category-item__title">24-часовое руководство</h3>
        <p class="category-item__descr">
          Наш подход, ориентированный на&nbsp;безопасность, дает вам душевное
          спокойствие и&nbsp;свободу сделать исследование своим приоритетом.
        </p>
      </li>
      <li class="category-list__item category-item">
        <div class="category-item__img">
          <img src="./img/category-first.png" alt="" />
        </div>
        <h3 class="category-item__title">Безопасность прежде всего</h3>
        <p class="category-item__descr">
          Наш подход, ориентированный на&nbsp;безопасность, дает вам душевное
          спокойствие и&nbsp;свободу сделать исследование своим приоритетом.
        </p>
      </li>
    </ul>
  </div>
</section>
