@media (min-width: 0px) {
  .hero-swiper.swiper {
    max-width: 992px;
    width: 100%;
    height: 410px;
}

.hero__swiper-slide.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // max-width: 310px;
  width: 100%;
  height: 100%;
  padding: 14px 17px 21px 17px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  backdrop-filter: blur(93.4834px);
}

.hero-swiper {
		&__img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      margin-bottom: 18px;
		}

    &__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
		}

		&__title {
      font-family: 'InterMy';
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1,222em;
      color: var(--color-light);
		}
}

.swiper-controls-button {
  position: relative;
  // height: 60px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 10px;
}

.swiper-controls-button > .swiper-button-prev:after ,
.swiper-controls-button > .swiper-button-next:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8.17px 16.33px;
  transition: background-color 0.3s ease-in-out;
}

.swiper-controls-button > .swiper-button-prev:after {
  background-image: url('../img/Prev.svg');
}

.swiper-controls-button > .swiper-button-next:after {
  background-image: url('../img/Next.svg');
}

.swiper-controls-button > .swiper-button-next.swiper-button-disabled,
.swiper-controls-button > .swiper-button-prev.swiper-button-disabled {
  opacity: 0.6;
}

.swiper-controls-button > .swiper-button-prev.swiper-button-disabled.swiper-button-prev:after,
.swiper-controls-button > .swiper-button-next.swiper-button-disabled.swiper-button-next:after {
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-controls-button > .swiper-button-next,
.swiper-controls-button > .swiper-button-prev {
  top: 0;
  width: 60px;
  height: 52px;
  transform: translateY(50%);
  border-radius: 20px;
  overflow: hidden;
}

.swiper-controls-button > .swiper-button-prev,
.swiper-controls-button > .swiper-rtl .swiper-button-next {
  right: 95px;
  left: auto;
}

.swiper-controls-button > .swiper-button-next,
.swiper-controls-button > .swiper-rtl .swiper-button-prev {
  right: 27px;
}
}

@media (min-width: 360px) {
.swiper-slide {
  max-width: 310px;
}
}


@media (min-width: 1200px) {
  .hero-swiper.swiper {
    max-width: 100%;
}
  .hero__swiper-slide.swiper-slide {
    max-width: 310px;
  }
}

