.title-section {
  // font-family: 'PoppinsMy';
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5em;
  color: var(--color-accent);
}

.title {
  display: block;
  font-weight: 700;
  font-size: 2.875rem;
  // line-height: 56px;
  line-height: 1.217em;
  text-transform: capitalize;
  color: var(--color-title);
}
