<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img src="./img/Site_Logo.svg" alt="Логотип сайта" />
    </a>
    <nav class="nav-header">
      <ul class="nav-header__list list-reset">
        <li class="nav-header__item">
          <a href="#hero" class="nav-header__link">Главная</a>
        </li>
        <li class="nav-header__item">
          <a href="#about" class="nav-header__link">О&nbsp;нас</a>
        </li>
        <li class="nav-header__item">
          <a href="#promo" class="nav-header__link">Промо</a>
        </li>
        <li class="nav-header__item">
          <a href="#category" class="nav-header__link">Категория</a>
        </li>
        <li class="nav-header__item">
          <a href="#price" class="nav-header__link">Цены</a>
        </li>
        <li class="nav-header__item">
          <a href="#subscribe" class="nav-header__link">Свяжись с&nbsp;нами</a>
        </li>
      </ul>
    </nav>
    <button class="btn-reset burger-menu"></button>
  </div>
</header>
