.faqs {
  &__title-section {
    margin-bottom: 10px;
    text-align: center;
  }
  &__title {
    margin-bottom: 1.1304em;
    text-align: center;
  }
}

.accordion {
  max-width: 1081px;
  width: 100%;
  margin: 0 auto;
  counter-reset: section;

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875em 1.25em;
    background: #F5F5F5;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 2px;
    cursor: pointer;
  }

  &__content {
    padding: 0px 1.25em;
    background: #E9E9E9;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    will-change: max-height;
    box-sizing: content-box;
  }
}
.accordion-item {
  &:not(:last-child) {
    margin-bottom: 1.875em;
  }
  &__title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.2222em;
    color: #333333;
    margin-right: 10px;
    &::before {
      counter-increment: section;
      content: counter(section) ". ";
    }
  }
  &__arrow {
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    min-width: 20px;
    min-height: 10px;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }
  &__descr {
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 0.04em;
    color: rgba(51, 51, 51, 0.8);
    & span {
      color: rgba(51, 51, 51, 1);
    }
  }
}

.accordion-item.open .accordion__content {
  padding: 1.25em;
  opacity: 1;
}

.accordion-item.open .accordion-item__arrow {
  transform: rotate(0deg);
}
