<section class="faqs padding-section">
  <div class="container">
    <h2 class="title-section faqs__title-section">FAQs</h2>
    <span class="title faqs__title">Часто задаваемые вопросы</span>
    <ol class="accordion list-reset">
      <li class="accordion-item">
        <button class="accordion__controls btn-reset" aria-expanded="false">
          <h3 class="accordion-item__title">Будет ли еда?</h3>
          <span class="accordion-item__arrow"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p class="accordion-item__descr">
            <span>Ответ.</span>Да! Очень много.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion__controls btn-reset" aria-expanded="false">
          <h3 class="accordion-item__title">
            .Можем ли мы взять с собой наших питомцев?
          </h3>
          <span class="accordion-item__arrow"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p class="accordion-item__descr"><span>Ответ.</span>Да!</p>
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion__controls btn-reset" aria-expanded="false">
          <h3 class="accordion-item__title">Лекарства будут?</h3>
          <span class="accordion-item__arrow"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p class="accordion-item__descr"><span>Ответ.</span>Да!</p>
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion__controls btn-reset" aria-expanded="false">
          <h3 class="accordion-item__title">Связь будет?</h3>
          <span class="accordion-item__arrow"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p class="accordion-item__descr"><span>Ответ.</span>Да!</p>
        </div>
      </li>
    </ol>
  </div>
</section>
