<footer class="footer">
  <div class="container footer__container">
    <a class="logo">
      <img src="./img/Site_Logo.svg" alt="Site logo" />
    </a>
    <span class="footer__rights">Все права защищены</span>
    <ul class="social-list list-reset">
      <li class="social-item">
        <a href="" class="social-link social-link--fb"></a>
      </li>
      <li class="social-item">
        <a href="" class="social-link social-link--inst"></a>
      </li>
      <li class="social-item">
        <a href="" class="social-link social-link--tw"></a>
      </li>
    </ul>
  </div>
</footer>
